body {
	background-color: white;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;

	font-family: sans-serif;
}

nav {
	width: 100%;
	padding: 0;
	height: 40px;
	background-color: red;
}

nav ul li {
	list-style: none;
	display: inline-block;
	height: 100%;
}

section header {
	font-size: large;
	padding: 2px;
	text-align: center;
}

/* Instruments containers */
article {
	border-collapse: collapse;
	padding: 1px;
}

/* Instrument values */
article header {
	font-size: large;
	text-align: center;
	background-color: navy;
	color: white;
	border-radius: 5px;
	padding: 3px;
}

article p {
	text-align: center;
}

.data .value {
	font-size: xx-large;
	color: green;
}

.data .units {
	font-size: x-large;
	color: darkred;
}

.accuracy .value {
	font-size: small;
}

.accuracy .units {
	font-size: small;
	color: darkred;
}


.left {
	width: 49%;
	float: left;
}

.right {
	width: 49%;
	float: right;
}

article .accuracy {
	color: royalblue;
}

article .accuracy:before {
	content:"\00b1\00a0";
}

footer {
	text-align: center;
	color: gray;
}

#trace {
	/*display: none;*/
}

#debug {
	border: 1px dashed salmon;
}

#debug li {
	padding-top: 5px;
}

.clear {
	clear: both;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
	/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
	/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
	/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	/* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	/* Styles */
}